<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJs - Basics</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div id="app">
        <h1>{{ message }}</h1>
        <h1 v-bind:class="className">{{ message }}</h1>
        <h1 v-if="show">Third show if</h1>
        <ol>
          <li v-for="language in languages">{{ language }}</li>
        </ol>
        <ol v-show="showCountries">
          <li v-for="country in countries">{{ country.name }}</li>
        </ol>

        <input type="text" v-model="message" class="form-control" />

        <button v-on:Click="enableList">Show Countries</button>
      </div>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          message: 'This is the first lesson in Vue!',
          className: 'alert alert-danger',
          show: false,
          languages: ['Arabic', 'English', 'German'],
          countries: [
            { name: 'Egypt' },
            { name: 'Germany' },
            { name: 'US' },
            { name: 'Italy' },
          ],
          showCountries: false,
        },
        methods: {
          enableList: function() {
            this.showCountries = true
          },
        },
      })
    </script>
  </body>
</html>
